{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
        <div class="container-fluid text-center">
            <h1>New Page</h1>
    {% if error_message %}
            <p class="alert alert-danger"> {{ error_message }}</p>
    {% else %}
            <form action="{% url 'newpage' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Save" name="save">
            </form>
        </div>
    {% endif %}
{% endblock %}